In [67]:
import pandas as pd
import numpy as np

In [68]:
movies= pd.read_csv("tmdb_5000_movies.csv")
credits=pd.read_csv("tmdb_5000_credits.csv")

In [69]:
data= movies.merge(credits, on='title')

In [70]:
data.shape

(4809, 23)

In [71]:
data.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [72]:
data= data[['id','genres','keywords','original_language','title','overview','release_date','cast','crew']]

In [73]:
data.shape

(4809, 9)

In [74]:
data.head(2)

,id,genres,keywords,original_language,title,overview,release_date,cast,crew
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",2007-05-19,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [75]:
data.isna().sum()

id                   0
genres               0
keywords             0
original_language    0
title                0
overview             3
release_date         1
cast                 0
crew                 0
dtype: int64

In [76]:
data.dropna(inplace=True)

In [77]:
data.isna().sum()

id                   0
genres               0
keywords             0
original_language    0
title                0
overview             0
release_date         0
cast                 0
crew                 0
dtype: int64

In [78]:
data.duplicated().sum()

0

In [79]:
data['genres'].head(1)

0    [{"id": 28, "name": "Action"}, {"id": 12, "nam...
Name: genres, dtype: object

In [80]:
data.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [81]:
def convert(obj):
    listed=[]
    for i in ast.literal_eval(obj):
        listed.append(i['name'])
    return listed

In [82]:
import ast

In [83]:
data['genres']= data['genres'].apply(convert)

In [84]:
data.iloc[0].genres

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [85]:
data['keywords']= data['keywords'].apply(convert)

In [86]:
def convertcast(obj):
    listed=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter != 5:
            listed.append(i['name'])
            counter +=1
        else:
            break
    return listed

In [87]:
data['cast']= data['cast'].apply(convertcast)

In [88]:
def get_director(obj):
    listed=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director' or i['job']=='Writer' or i['job']== 'Producer':
            listed.append(i['name'])
    return listed

In [89]:
data['crew']= data['crew'].apply(get_director)

In [90]:
data.head(2)

,id,genres,keywords,original_language,title,overview,release_date,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[James Cameron, James Cameron, James Cameron, ..."
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",2007-05-19,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Gore Verbinski, Jerry Bruckheimer, Eric McLeo..."

In [91]:
data["release_date"] = pd.to_datetime(data["release_date"], errors="coerce")

In [92]:
data["year"] = data["release_date"].dt.year

In [93]:
data.iloc[1].year

2007

In [94]:
data["era"] = (data["year"] // 10 * 10).astype("Int64").astype(str) + "s"

In [95]:
data.iloc[1].era

'2000s'

In [96]:
data.head(2)

,id,genres,keywords,original_language,title,overview,release_date,cast,crew,year,era
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[James Cameron, James Cameron, James Cameron, ...",2009,2000s
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",2007-05-19,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Gore Verbinski, Jerry Bruckheimer, Eric McLeo...",2007,2000s

In [97]:
data=data.drop(columns=["release_date","year"])

In [98]:
data.head(2)

,id,genres,keywords,original_language,title,overview,cast,crew,era
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[James Cameron, James Cameron, James Cameron, ...",2000s
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Gore Verbinski, Jerry Bruckheimer, Eric McLeo...",2000s

In [99]:
data['era'].value_counts()

2000s    2050
2010s    1444
1990s     778
1980s     280
1970s     109
1960s      72
1950s      27
1940s      25
1930s      15
1920s       4
1910s       1
Name: era, dtype: int64

In [100]:
import nltk
from nltk.corpus import stopwords
import re

In [101]:
stop_words = set(stopwords.words("english"))

In [102]:
def clean_text(text):
    
    text = text.lower()
    text = re.sub(r"[^a-z\s]", "", text)
    words = [w for w in text.split() if w not in stop_words]
    return " ".join(words)

In [103]:
data["overview"] = data["overview"].apply(clean_text)

In [104]:
data.head(2)

,id,genres,keywords,original_language,title,overview,cast,crew,era
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",en,Avatar,nd century paraplegic marine dispatched moon p...,"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[James Cameron, James Cameron, James Cameron, ...",2000s
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",en,Pirates of the Caribbean: At World's End,captain barbossa long believed dead come back ...,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Gore Verbinski, Jerry Bruckheimer, Eric McLeo...",2000s

In [105]:
data['overview']=data['overview'].apply(lambda x: x.split())

In [106]:
data.head(2)

,id,genres,keywords,original_language,title,overview,cast,crew,era
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",en,Avatar,"[nd, century, paraplegic, marine, dispatched, ...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[James Cameron, James Cameron, James Cameron, ...",2000s
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",en,Pirates of the Caribbean: At World's End,"[captain, barbossa, long, believed, dead, come...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Gore Verbinski, Jerry Bruckheimer, Eric McLeo...",2000s

In [107]:
data['genres']= data['genres'].apply(lambda x: [i.replace(" ","") for i in x])    
data['keywords']= data['keywords'].apply(lambda x: [i.replace(" ","") for i in x])    
data['cast']= data['cast'].apply(lambda x: [i.replace(" ","") for i in x])    
data['crew']= data['crew'].apply(lambda x: [i.replace(" ","") for i in x])

In [108]:
data.head(2)

,id,genres,keywords,original_language,title,overview,cast,crew,era
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",en,Avatar,"[nd, century, paraplegic, marine, dispatched, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...","[JamesCameron, JamesCameron, JamesCameron, Jon...",2000s
1,285,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...",en,Pirates of the Caribbean: At World's End,"[captain, barbossa, long, believed, dead, come...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...","[GoreVerbinski, JerryBruckheimer, EricMcLeod, ...",2000s

In [109]:
data['era']=data['era'].apply(lambda x:[x])

In [110]:
data['original_language']= data['original_language'].apply(lambda x:[x])

In [111]:
data['tags']= data['overview']+ data['keywords']+ data['genres']+data['original_language']+ data['cast']+ data['crew']+ data['era']

In [113]:
df=data[['id','title','tags']]

In [114]:
df.head(2)

,id,title,tags
0,19995,Avatar,"[nd, century, paraplegic, marine, dispatched, ..."
1,285,Pirates of the Caribbean: At World's End,"[captain, barbossa, long, believed, dead, come..."

In [115]:
df['tags']= df['tags'].apply(lambda x:" ".join(x))

C:\Users\shiv\AppData\Local\Temp\ipykernel_19864\2874781496.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags']= df['tags'].apply(lambda x:" ".join(x))

In [116]:
df['tags'][0]

'nd century paraplegic marine dispatched moon pandora unique mission becomes torn following orders protecting alien civilization cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d Action Adventure Fantasy ScienceFiction en SamWorthington ZoeSaldana SigourneyWeaver StephenLang MichelleRodriguez JamesCameron JamesCameron JamesCameron JonLandau 2000s'

In [117]:
df['tags']= df['tags'].apply(lambda x:x.lower())

C:\Users\shiv\AppData\Local\Temp\ipykernel_19864\1821349008.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags']= df['tags'].apply(lambda x:x.lower())

In [118]:
from nltk.stem.porter import PorterStemmer
ps= PorterStemmer()

In [119]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [120]:
df['tags']=df['tags'].apply(stem)

C:\Users\shiv\AppData\Local\Temp\ipykernel_19864\4230616273.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags']=df['tags'].apply(stem)

In [121]:
from sklearn.feature_extraction.text import CountVectorizer

In [122]:
cv= CountVectorizer(max_features=5000,stop_words='english')

In [123]:
vectors=cv.fit_transform(df['tags']).toarray()

In [136]:
vectors.shape

(4805, 5000)

In [125]:
cv.get_feature_names_out()

array(['1930', '1940', '1950', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [126]:
from sklearn.metrics.pairwise import cosine_similarity

In [127]:
similarity_matrix=cosine_similarity(vectors)

In [128]:
similarity_matrix.shape

(4805, 4805)

In [129]:
def recommend(movie):
    movie_index= df[df['title']== movie].index[0]
    distances = similarity_matrix[movie_index]
    movie_list= sorted(list(enumerate(distances)),reverse= True, key= lambda x: x[1])[1:6]
    
    for i in movie_list:
        print(df.iloc[i[0]].title)

In [130]:
recommend('Batman Begins')

The Dark Knight
The Dark Knight Rises
Batman
Batman v Superman: Dawn of Justice
Batman

In [131]:
import pickle

In [134]:
pickle.dump(df.to_dict(),open('movies_dict.pkl','wb'))

In [137]:
pickle.dump(similarity_matrix,open('similarity.pkl','wb'))